{% extends 'delipress/base.html' %}

{% block main %}
 <div>
 <h1>Third-party authentication demo</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
    <!-- Button Tests -->
	<br />
	<div>
		<form action="#" method="get">
			<div>First Name:</div><input type="text" value="" name="fname" size="20"/><br />
			<div>Last Name:</div><input type="text" value="" name="lname" size="20"/><br />
			<div>Company:</div><input type="text" value="" name="cname" size="20"/><br />
			<div>Title:</div><input type="text" value="" name="title" size="20"/><br />
			<div>Phone #:</div><input type="text" value="" name="pnumber" size="20"/><br />
			<input type="submit" class="btn" value="Submit" name="mybtn">
		</form>
	</div>
 </p>
 </div>
{% endblock %}